;; shadow-cljs configuration
{:lein   true     
 :nrepl  {:port 8230}

 :builds {:app
          {:target     :browser
           :modules    {:base {:entries [jasons-game.frontend.app]}}
           :output-dir "public/js/compiled"
           :asset-path "/js/compiled"
           :dev        {:compiler-options {:closure-defines {jasons-game.frontend.remote/dev-host "http://localhost:8080"
                                                             re_frame.trace/trace_enabled?        true
                                                             day8.re-frame.tracing/trace-enabled? true}}}
           :devtools   {:http-root    "public"
                        :http-handler shadow.http.push-state/handle
                        :http-port    8280
                        :after-load   jasons-game.frontend.app/mount-root
                        :preloads     [devtools.preload
                                       day8.re-frame-10x.preload]}}

          :browser-test
          {:target           :browser-test
           :ns-regexp        "-test$"
           :runner-ns        shadow.test.browser
           :test-dir         "out/browser-test"
           :compiler-options {:closure-defines {re-frame.trace.trace-enabled?        true
                                                day8.re-frame.tracing.trace-enabled? true}}
           :devtools         {:http-root "out/browser-test"
                              :http-port 8290}}

          :karma-test
          {:target    :karma
           :ns-regexp "-test$"
           :output-to "out/karma/test.js"}}}
