# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

bin
JasonsGame.app/Contents/MacOS/*

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Vendored dependencies
vendor/

# Test report output dir
test_results/

.tmp
log

/packrd/
*-packr.go

*_pb.d.ts
*_pb.js
*_gen.go
*_gen_test.go
*.pb.go
